@using FLRC.Leaderboards.Model
@using FLRC.Leaderboards.Web.Areas.Admin

@model ViewModel<IGrouping<Series, Iteration>[]>

@await Html.PartialAsync("../AdminHeader")

<article class="card card-highlighted">
	@foreach (var group in Model.Data)
	{
		<section class="card-body">
			<a href="/Admin/Iterations/Add/@group.Key.ID" class="btn btn-light float-right">
				<i class="fas fa-plus-circle"></i>
				Add Iteration
			</a>
			<h3>@group.Key.Name</h3>

			<table class="table table-bordered table-striped">
				<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Start Date</th>
					<th scope="col">End Date</th>
					<th scope="col">Registered</th>
				</tr>
				</thead>
				<tbody>
				@foreach (var iteration in group)
				{
					<tr>
						<th scope="row">
							<a href="/Admin/Iterations/Edit/@iteration.ID">
								@iteration.Name
							</a>
						</th>
						<td>
							@iteration.StartDate
						</td>
						<td>
							@iteration.EndDate
						</td>
						<td>
							@iteration.Athletes.Count (
							<a href="/Admin/Iterations/Registration/@iteration.ID">
								View
							</a>
							)
						</td>
					</tr>
				}
				</tbody>
			</table>
		</section>
	}
</article>