@using FLRC.Leaderboards.Model
@using FLRC.Leaderboards.Web.ViewModels
@model ViewModel<Athlete[]>

@await Html.PartialAsync("../AdminHeader", Model.Title)

<article class="card card-highlighted">
	<section class="card-body">
		<table class="table table-striped table-bordered table-sm table-responsive-sm">
			<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col" class="text-center">Category</th>
				<th scope="col" class="text-center">Age</th>
				<th scope="col" class="text-center">Private</th>
				<th scope="col" class="text-right">Results</th>
				<th scope="col" class="text-right">Series Registrations</th>
				<th scope="col" class="text-right">Linked Accounts</th>
			</tr>
			</thead>
			<tbody>
			@foreach (var athlete in Model.Data)
			{
				<tr>
					<th scope="row">
						<a href="/Admin/Athletes/Edit/@athlete.ID">
							@athlete.Name
						</a>
					</th>
					<td class="text-center">@athlete.Category</td>
					<td class="text-center">@athlete.AgeToday</td>
					<td class="text-center">@(athlete.IsPrivate ? Html.Raw(@"<i class=""fas fa-check""></i>") : "")</td>
					<td class="text-right">@athlete.Results.Count</td>
					<td class="text-right">@athlete.Registrations.Count</td>
					<td class="text-right">@athlete.LinkedAccounts.Count</td>
				</tr>
			}
			</tbody>
		</table>
	</section>
</article>