@using FLRC.ChallengeDashboard
@model AthleteSummaryViewModel

<h2>@Model.Athlete.Name</h2>

<table class="table table-bordered table-sm text-center">
    <thead>
    <tr>
        <th>
            Category
        </th>
        <th>
            Age
        </th>
        <th>
            Team
        </th>
        <th>
            Overall Points
        </th>
        <th>
            Total Miles
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            @Model.Athlete.Category?.Display
        </td>
        <td>
            @Model.Athlete.Age
        </td>
        <td>
            @Model.Athlete.Team.Display (@Model.TeamResults.Rank.Display)
            <br/>
            <a class="btn btn-light btn-xs" href="/Overall/Team">
                View All
                <i class="far fa-arrow-alt-circle-right"></i>
            </a>
        </td>
        <td>
            @Model.OverallPoints?.Value?.Display (@Model.OverallPoints?.Rank?.Display)
            <br/>
            <a class="btn btn-light btn-xs" href="/Overall/Points/@Model.Athlete.Category?.Value">
                View All
                <i class="far fa-arrow-alt-circle-right"></i>
            </a>
        </td>
        <td>
            @Model.OverallMiles?.Value.ToString("F1") (@Model.OverallMiles?.Rank?.Display)
            <br/>
            <a class="btn btn-light btn-xs" href="/Overall/Miles">
                View All
                <i class="far fa-arrow-alt-circle-right"></i>
            </a>
        </td>
    </tr>
    </tbody>
</table>

<div class="row">
    @foreach (var course in Model.Fastest.Where(r => r.Value != null))
    {
        <div class="col-12 col-lg-6">
            <div class="card-highlighted card mb-3">
                <div class="card-body">
                    @await Html.PartialAsync("CourseInfo", course.Key)
                    <table class="table table-bordered table-sm table-responsive-sm text-center mt-2 mb-0">
                        <thead>
                        <tr>
                            <th>
                                Fastest Time
                            </th>
                            <th>
                                Average Time (Top @course.Key.AverageThreshold(Model.Athlete.Category))
                            </th>
                            <th>
                                # of Runs
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                @Model.Fastest[course.Key].Value.Display (@Model.Fastest[course.Key].Rank.Display)
                                <br/>
                                <a class="btn btn-light btn-xs" href="/Course/@course.Key.ID/Fastest/@Model.Athlete.Category?.Value">
                                    View All
                                    <i class="far fa-arrow-alt-circle-right"></i>
                                </a>
                            </td>
                            <td>
                                @if (Model.Average[course.Key] != null)
                                {
                                    @(Model.Average[course.Key].Value.Display + " (" + Model.Average[course.Key].Rank.Display + ")")
                                }
                                else
                                {
                                    @("(not enough runs)")
                                }
                                <br/>
                                <a class="btn btn-light btn-xs" href="/Course/@course.Key.ID/BestAverage/@Model.Athlete.Category?.Value">
                                    View All
                                    <i class="far fa-arrow-alt-circle-right"></i>
                                </a>
                            </td>
                            <td>
                                @Model.Runs[course.Key].Value (@Model.Runs[course.Key].Rank.Display)
                                <br/>
                                <a class="btn btn-light btn-xs" href="/Course/@course.Key.ID/MostRuns">
                                    View All
                                    <i class="far fa-arrow-alt-circle-right"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <a href="/Athlete/@Model.Athlete.ID/Course/@course.Key.ID">View All Runs</a>
                </div>
            </div>
        </div>
    }
</div>