@using FLRC.ChallengeDashboard
@model AthleteSummaryViewModel

<h2>
    @Model.Athlete.Name
    <small>(@Model.Athlete.AgeToday&nbsp;@Model.Athlete.Category?.Display)</small>
</h2>

<div class="card card-highlighted mb-3">
    <div class="card-body">
        <dl class="row mb-0">
            <dt class="col-6">
                Team
            </dt>
            <dd class="col-6">
                @Model.Athlete.Team.Display
                (<a href="/Overall/Team">@Model.TeamResults?.Rank.Display</a>)
            </dd>

            @if (Model.Athlete.Category != null)
            {
                <dt class="col-6">
                    Overall Points
                </dt>
                <dd class="col-6">
                    @Model.OverallPoints?.Value?.Display
                    (<a href="/Overall/Points/@Model.Athlete.Category.Display">@Model.OverallPoints?.Rank?.Display</a>)
                </dd>
            }

            <dt class="col-6">
                <span class="d-none d-sm-inline">Average</span>
                <span class="d-sm-none">Avg</span>
                Age Grade
            </dt>
            <dd class="col-6">
                @Model.OverallAgeGrade?.Value?.Display
                (<a href="/Overall/AgeGrade">@Model.OverallAgeGrade?.Rank?.Display</a>)
            </dd>
            
            <dt class="col-6">
                Total Miles
            </dt>
            <dd class="col-6">
                @Model.OverallMiles?.Value.ToString("F1")
                (<a href="/Overall/Miles">@Model.OverallMiles?.Rank?.Display</a>)
            </dd>
        </dl>
    </div>
</div>

<div class="row">
    @foreach (var course in Model.Fastest.Where(r => r.Value != null))
    {
        <div class="col-12 col-lg-6">
            <div class="card-highlighted card mb-3">
                <div class="card-body">
                    @await Html.PartialAsync("CourseInfo", course.Key)
                    <dl class="row mb-0">
                        <dt class="col-6">
                            Fastest Time
                        </dt>
                        <dd class="col-6">
                            @Model.Fastest[course.Key].Value.Display
                            (<a href="/Course/@course.Key.ID/Fastest/@Model.Athlete.Category?.Value">@Model.Fastest[course.Key].Rank.Display</a>)
                        </dd>
                        <dt class="col-6">
                            Points
                        </dt>
                        <dd class="col-6">
                            @Model.Fastest[course.Key].Points.Display
                        </dd>
                        <dt class="col-6">
                            Age Grade
                        </dt>
                        <dd class="col-6">
                            @Model.Fastest[course.Key].AgeGrade.Display
                        </dd>
                        <dt class="col-6">
                            Average (Top @course.Key.AverageThreshold(Model.Athlete.Category))
                        </dt>
                        <dd class="col-6">
                            @if (Model.Average[course.Key] != null)
                            {
                                @Model.Average[course.Key].Value.Display
                                @:(<a href="/Course/@course.Key.ID/BestAverage/@Model.Athlete.Category?.Value">@Model.Average[course.Key].Rank.Display</a>)
                            }
                            else
                            {
                                @:(not enough runs)
                            }
                        </dd>
                        <dt class="col-6">
                            # of Runs
                        </dt>
                        <dd class="col-6">
                            @Model.Runs[course.Key].Value
                            (<a href="/Course/@course.Key.ID/MostRuns">@Model.Runs[course.Key].Rank.Display</a>)
                        </dd>
                    </dl>
                </div>
                <div class="card-footer">
                    <a href="/Athlete/@Model.Athlete.ID/Course/@course.Key.ID">View All Runs</a>
                </div>
            </div>
        </div>
    }
</div>