@using FLRC.Leaderboards.Core.Metrics
@using FLRC.Leaderboards.Core.Races
@using FLRC.Leaderboards.Core.Reports
@using FLRC.Leaderboards.Web.ViewModels
@model ViewModel<ActivityLog>

@functions
{
	string Breakpoint() => Model.Data.Course is null ? "md" : "sm";

	string Style(ActivityLogType type) => Model.Data.Type == type
	? "secondary"
	: "light";
}

<h2>@Model.Title</h2>

<section class="mb-3">
	<div class="btn-group">
		@foreach (var type in ActivityLog.Types)
		{
			<a class="btn btn-sm btn-@Style(type.Key)" href="/Log/@type.Value/@Model.Data.Course?.ID">@type.Key</a>
		}
	</div>
</section>

<div class="card card-highlighted">
	<div class="card-body">
		@foreach (var group in Model.Data.Results)
		{
			<h4>@group.Key</h4>
			<table class="table table-bordered table-striped table-hover table-sm table-responsive-@Breakpoint()">
				<thead>
				<tr>
					<th>Date</th>
					<th>Athlete</th>
					@if (Model.Data.Course is null)
					{
						<th>@Model.Data.CourseLabel</th>
					}
					<th class="text-right">Time</th>
				</tr>
				</thead>
				<tbody>
				@foreach (var result in group)
				{
					<tr>
						<td>
							@(new Date(result.StartTime).Display)
						</td>
						<td>
							<a href="/Athlete/Index/@result.Athlete.ID">
								@result.Athlete.Name
							</a>
						</td>
						@if (Model.Data.Course == null)
						{
							<td>
								<a href="/Results/Fastest/@result.Course.ID">
									@result.Course.Race.Name
								</a>
							</td>
						}
						<td class="text-right">
							@(new Time(result.Duration).Display)
						</td>
					</tr>
				}
				</tbody>
			</table>
		}
	</div>
</div>