@using FLRC.Leaderboards.Core.Community
@using FLRC.Leaderboards.Core.Reports
@model ActivityLogViewModel

@functions
{
	string breakpoint() => Model.Course == null ? "md" : "sm";

	string style(ActivityLogType type) => Model.Type == type
		? "secondary"
		: "light";
}

<h2>@Model.Title</h2>

<section class="mb-3">
	<div class="btn-group">
		@foreach (var type in ActivityLogViewModel.LogTypes)
		{
			<a class="btn btn-sm btn-@style(type.Key)" href="/Log/@type.Value/@Model.Course?.ID">@type.Key</a>
		}
	</div>
</section>

<div class="card card-highlighted">
	<div class="card-body">
		@foreach (var group in Model.Results)
		{
			<h4>@group.Key</h4>
			<table class="table table-bordered table-striped table-hover table-sm table-responsive-@breakpoint()">
				<thead>
				<tr>
					<th>Date</th>
					<th>Athlete</th>
					@if (Model.Course == null)
					{
						<th>Course</th>
					}
					<th class="text-right">Time</th>
					@if (Model.Config.Features.CommunityStars)
					{
						<th class="text-center">Community</th>
					}
				</tr>
				</thead>
				<tbody>
				@foreach (var result in group)
				{
					<tr>
						<td>
							@result.StartTime.Display
						</td>
						<td>
							<a href="/Athlete/Index/@result.Athlete.ID">
								@result.Athlete.Name
							</a>
						</td>
						@if (Model.Course == null)
						{
							<td>
								<a href="/Course/@result.Course.ID/Fastest">
									@result.Course.Name
								</a>
							</td>
						}
						<td class="text-right">
							@result.Duration.Display
						</td>
						@if (Model.Config.Features.CommunityStars)
						{
							<td class="text-center">
								@if (result.CommunityStars != null)
								{
									<span class="d-flex justify-content-center" style="cursor: default;">
										<span title="Group Run" style="width: 2rem;">@(result.CommunityStars[StarType.GroupRun] ? "🏃" : string.Empty)</span>
										<span title="Story" style="width: 2rem;">@(result.CommunityStars[StarType.Story] ? "📄" : string.Empty)</span>
										<span title="Shop Local" style="width: 2rem;">@(result.CommunityStars[StarType.ShopLocal] ? "🏙️" : string.Empty)</span>
									</span>
								}
							</td>
						}
					</tr>
				}
				</tbody>
			</table>
		}
	</div>
</div>