@using FLRC.ChallengeDashboard
@model StatisticsViewModel

<h2>@Model.Title</h2>

<div class="card card-highlighted">
    <div class="card-body">
        <table class="table table-bordered table-striped table-hover table-sm table-responsive-md text-center">
            <thead>
            <tr>
                <th rowspan="2">Course</th>
                <th colspan="3">Participants</th>
                <th colspan="3">Total Runs</th>
                <th colspan="3">Total Miles</th>
                <th colspan="3">Average Runs</th>
            </tr>
            <tr>
                <th>All</th>
                <th>F</th>
                <th>M</th>

                <th>All</th>
                <th>F</th>
                <th>M</th>

                <th>All</th>
                <th>F</th>
                <th>M</th>

                <th>All</th>
                <th>F</th>
                <th>M</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var course in Model.Courses)
            {
                var stats = course.Value;
                <tr>
                    <td>@course.Key.Name</td>

                    <td>@stats.Participants[string.Empty]</td>
                    <td>@stats.Participants[Category.F.Display]</td>
                    <td>@stats.Participants[Category.M.Display]</td>

                    <td>@stats.Runs[string.Empty]</td>
                    <td>@stats.Runs[Category.F.Display]</td>
                    <td>@stats.Runs[Category.M.Display]</td>

                    <td>@stats.Miles[string.Empty].ToString("F1")</td>
                    <td>@stats.Miles[Category.F.Display].ToString("F1")</td>
                    <td>@stats.Miles[Category.M.Display].ToString("F1")</td>

                    <td>@stats.Average[string.Empty].ToString("F1")</td>
                    <td>@stats.Average[Category.F.Display].ToString("F1")</td>
                    <td>@stats.Average[Category.M.Display].ToString("F1")</td>
                </tr>
            }
            <tr>
                <th>Total</th>

                <th>@Model.Total.Participants[string.Empty]</th>
                <th>@Model.Total.Participants[Category.F.Display]</th>
                <th>@Model.Total.Participants[Category.M.Display]</th>

                <th>@Model.Total.Runs[string.Empty]</th>
                <th>@Model.Total.Runs[Category.F.Display]</th>
                <th>@Model.Total.Runs[Category.M.Display]</th>

                <th>@Model.Total.Miles[string.Empty].ToString("F1")</th>
                <th>@Model.Total.Miles[Category.F.Display].ToString("F1")</th>
                <th>@Model.Total.Miles[Category.M.Display].ToString("F1")</th>

                <th>@Model.Total.Average[string.Empty].ToString("F1")</th>
                <th>@Model.Total.Average[Category.F.Display].ToString("F1")</th>
                <th>@Model.Total.Average[Category.M.Display].ToString("F1")</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>