@using FLRC.Leaderboards.Core.Community
@model CommunityAdminViewModel

<h2>@Model.Title</h2>

<div class="card card-highlighted">
	<div class="card-body">
		<form method="post" action="">
			<input type="submit" value="Sync" class="btn btn-success float-right"/>
			<h3>Athletes Missing Community Groups</h3>
			<table class="table table-bordered table-striped table-hover table-sm table-responsive-md">
				<thead>
				<tr>
					<th class="text-center">Add</th>
					<th>Name</th>
					<th class="text-center">Team</th>
					<th>Username</th>
					<th>Current</th>
					<th>Missing</th>
				</tr>
				</thead>
				<tbody>
				@foreach (var row in Model.Rows.Where(r => r.User is not null && r.Missing.Any()))
				{
					<tr>
						<td class="text-center">
							<input type="checkbox" checked="checked" name="users" value="@row.User.ID"/>
						</td>
						<td>@row.Athlete.Name</td>
						<td class="text-center">@row.Athlete.Team.Display</td>
						<td>@row.User.Username</td>
						<td>
							@foreach (var group in row.Current)
							{
								<span class="badge badge-pill badge-primary">@group</span>
							}
						</td>
						<td>
							@foreach (var group in row.Missing)
							{
								<span class="badge badge-pill badge-secondary">@group</span>
							}
						</td>
					</tr>
				}
				</tbody>
			</table>
		</form>

		<h3>Athletes Without Community Users</h3>
		<table class="table table-bordered table-striped table-hover table-sm table-responsive-sm">
			<thead>
			<tr>
				<th>Name</th>
				<th>Team</th>
			</tr>
			</thead>
			<tbody>
			@foreach (var row in Model.Rows.Where(r => r.User is null))
			{
				<tr>
					<td>@row.Athlete.Name</td>
					<td>@row.Athlete.Team.Display</td>
				</tr>
			}
			</tbody>
		</table>

		<h3>Synchronized Athletes</h3>
		<table class="table table-bordered table-striped table-hover table-sm table-responsive-sm">
			<thead>
			<tr>
				<th>Name</th>
				<th>Team</th>
				<th>Username</th>
				<th>Current</th>
			</tr>
			</thead>
			<tbody>
			@foreach (var row in Model.Rows.Where(r => r.User is not null && !r.Missing.Any()))
			{
				<tr>
					<td>@row.Athlete.Name</td>
					<td>@row.Athlete.Team.Display</td>
					<td>@row.User.Username</td>
					<td>
						@foreach (var group in row.Current)
						{
							<span class="badge badge-pill badge-primary">@group</span>
						}
					</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
</div>