@using FLRC.Leaderboards.Web.Areas.Admin
@using FLRC.Leaderboards.Web.ViewModels
@model ViewModel<SelectChallengeForm>

<h2>@Model.Title</h2>

<article class="card card-highlighted">
	<section class="card-body">
		<p>We've confirmed that you're signed up for the @Model.Data.Iteration.Name @Model.Data.Iteration.Series.Name &mdash; time to choose your Challenge!</p>

		<div class="alert alert-warning">
			Please note that you cannot change your selection or modify your personal challenge after this point!
		</div>

		<form method="post" class="row">
			<div class="col-lg-6">
				<div class="bg-white border rounded shadow-sm p-3 my-4">
					<h4>Official</h4>
					<p>The canonical 10 courses for this year's Challenge:</p>
					@await Html.PartialAsync("CourseTable", Model.Data.Official.Courses)
					<div class="d-flex justify-content-center">
						<button type="submit" name="Selection" value="Official" class="btn btn-primary">
							Select Official Challenge
						</button>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="bg-white border rounded shadow-sm p-3 my-4">
					<h4>Personal</h4>
					<p>A choose-your-own-adventure of 3 or more courses:</p>
					<table class="table table-striped table-bordered table-sm table-responsive-sm">
						<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">Name</th>
							<th scope="col">Type</th>
							<th scope="col">Distance</th>
						</tr>
						</thead>
						<tbody>
						@foreach (var course in Model.Data.Courses.OrderBy(c => c.Distance))
						{
							<tr>
								<td class="text-center align-middle">
									<input type="checkbox" id="course-@course.ID" name="Selected" value="@course.ID" @(Model.Data.Official.Courses.Contains(course) ? "checked" : "") />
								</td>
								<th scope="row">
									<label for="course-@course.ID" class="form-check-label">@course.Race.Name</label>
								</th>
								<td>@course.Race.Type</td>
								<td>@course.DistanceDisplay</td>
							</tr>
						}
						</tbody>
					</table>
					<div class="d-flex justify-content-center">
						<button type="submit" name="Selection" value="Personal" class="btn btn-light">
							Select Personal Challenge
						</button>
					</div>
				</div>
			</div>
		</form>

	</section>
</article>