@using FLRC.Leaderboards.Web.ViewModels
@model HeaderViewModel

<header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-4">
		<div class="container">
			<a class="navbar-brand" href="/">
				<img class="logo" src="~/@Model.Series.Key/logo.png" alt="@Model.Series.Name logo"/>
				<h1 class="sr-only">@Model.Series.Name</h1>
			</a>
			<ul class="primary-nav nav justify-content-center">
				<li class="nav-item">
					<a class="nav-link text-dark" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark dropdown-toggle" href="#" onclick="return toggleDropdown(this, event);">
						Reports
					</a>
					<ul id="reports" class="dropdown-menu" onclick="event.stopPropagation();">
						@foreach (var report in Model.ReportMenu)
						{
							<li class="dropdown-item">
								<a href="@report.Value">
									@report.Key
								</a>
							</li>
						}
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark dropdown-toggle" href="#" onclick="return toggleDropdown(this, event);">
						@(Model.CourseMenuLabel)s
					</a>
					<ul id="races" class="dropdown-menu" onclick="event.stopPropagation();">
						@foreach (var course in Model.CourseMenu)
						{
							<li class="dropdown-item">
								<a href="/Course/@course.Key/Fastest">@course.Value</a>
							</li>
						}
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark dropdown-toggle" href="#" onclick="return toggleDropdown(this, event);">
						About
					</a>
					<ul id="about" class="dropdown-menu" onclick="event.stopPropagation();">
						@foreach (var link in Model.LinksMenu)
						{
							<li class="dropdown-item">
								<a href="@link.Value">@link.Key</a>
							</li>
						}
					</ul>
				</li>
				@if (Model.EnableAuth)
				{
					<li class="nav-item">
						<a class="nav-link text-dark dropdown-toggle" href="#" onclick="return toggleDropdown(this, event);">
							Account
						</a>
						<ul id="account" class="dropdown-menu" onclick="event.stopPropagation();">
							@if (Model.User?.Identity?.IsAuthenticated ?? false)
							{
								<li class="dropdown-item">
									<a href="/Account/Info">
										@Model.User.Identity.Name
									</a>
								</li>
								<li class="dropdown-item">
									<a href="/Account/LogOut">
										Log Out
									</a>
								</li>
							}
							else
							{
								<li class="dropdown-item">
									<a href="/Account/LogIn">
										Log In
									</a>
								</li>
							}
						</ul>
					</li>
				}
			</ul>
		</div>
	</nav>
</header>

<script>
	function hideDropdowns() {
		document.querySelectorAll('.dropdown-menu').forEach(e => e.style = '');
	}

	function toggleDropdown(element, event) {
		const menu = element.parentElement.querySelector('.dropdown-menu');
		const show = menu.style.length === 0;
		hideDropdowns();
		menu.style = show ? 'display: block;' : '';
		event.stopPropagation();
		return false;
	}

	document.body.onclick = () => hideDropdowns();
</script>