@using FLRC.Leaderboards.Core.Athletes
@using FLRC.Leaderboards.Core.Races
@using FLRC.Leaderboards.Core.Results
@model CourseResultsViewModel

@functions
{
	string style(ResultType type) => Model.ResultType.Value == type
		? "secondary"
		: "light";

	string style(Distance distance) => Model.Course.Distance == distance
		? "secondary"
		: "light";

	string style(Category category) => Model.Category == null && category == null || Model.Category == category
		? "secondary"
		: "light";
}

<form class="float-left">
	<section class="mb-3 mt-2">
		<div class="btn-group d-flex flex-wrap">
			@if (Model.Config.Features.MultiAttempt)
			{
				foreach (var type in Enum.GetValues<ResultType>().Select(t => new FormattedResultType(t)))
				{
					<a class="btn btn-sm btn-@style(type.Value)" href="/Course/@Model.Course.ID/@Model.Course.Distance.Display/@type.Value/@Model.Category?.Value">@type.Display</a>
				}
			}
			else
			{
				foreach (var course in Model.Course.Race.Courses)
				{
					<a class="btn btn-sm btn-@style(course.Distance)" href="/Course/@course.ID/@course.Distance.Display/Fastest/@Model.Category?.Value">@course.Distance.Display</a>
				}
			}
		</div>
	</section>

	@if (Model.ResultType.Value != ResultType.Team && Model.ResultType.Value != ResultType.Community)
	{
		var resultsURL = $"/Course/{Model.Course.ID}/{Model.Course.Distance.Display}/{Model.ResultType.Value}".Replace("//", "/");
		<section class="mb-4">
			<div class="btn-group">
				<a class="btn btn-sm btn-@style((Category)null)" href="@resultsURL">All</a>
				<a class="btn btn-sm btn-@style(Category.F)" href="@resultsURL/F">F</a>
				<a class="btn btn-sm btn-@style(Category.M)" href="@resultsURL/M">M</a>
			</div>

			@if (Model.ResultType.Value == ResultType.Fastest)
			{
				<div class="float-right ml-5">
					<select class="form-control form-control-sm" onchange="goToAgeGroup(this.value)">
						<option value="">All Age Groups</option>
						@foreach (var team in Athlete.Teams)
						{
							<option value="@team.Key" @(ViewBag.AgeGroup == team.Key ? "selected" : String.Empty)>
								@team.Value.Display
							</option>
						}
					</select>
				</div>
			}
		</section>
	}
</form>
<div class="clearfix"></div>

<script>
    function goToAgeGroup(ag) {
        location.href='/Course/@Model.Course.ID/@Model.ResultType.Value/@Model.Category?.Value' + (ag ? '?ag=' + ag : '');
    }
</script>
