
@using FLRC.ChallengeDashboard
@model LeaderboardTable

    <table class="table table-bordered table-striped table-sm mb-0">
        <thead>
        <tr>
            <th colspan="3">
                <span class="d-flex justify-content-between">
                    <span>@Model.Title</span>
                    <a class="btn btn-light btn-xs" href="@Model.Link">
                        View All
                        <i class="far fa-arrow-alt-circle-right"></i>
                    </a>
                </span>
            </th>
        </tr>
        </thead>
        <tbody>
        @if (!Model.Rows.Any())
        {
            <tr>
                <td colspan="3" class="text-center text-info">(no results yet)</td>
            </tr>
        }
        @for (var x = 1; x <= Model.Rows.Count(); x++)
        {
            var result = Model.Rows.Skip(x - 1).First();

            <tr>
                <td class="text-center">
                    @(result.Rank?.Value ?? x)
                </td>
                <td>
                    @if(result.Link != null)
                    {
                        <a href="@result.Link">@result.Name</a>
                    }
                    else
                    {
                        @result.Name
                    }
                </td>
                <td class="text-center">@result.Value</td>
            </tr>
        }
        </tbody>
    </table>