@using FLRC.Leaderboards.Core.Ranking
@using FLRC.Leaderboards.Core.Results
@using FLRC.Leaderboards.Core.Teams
@model TeamSummaryViewModel

<a class="btn btn-light btn-sm float-right" href="/Team/Members/@Model.Team.Value">
    Team Members <i aria-hidden="true" class="fas fa-arrow-right"></i>
</a>

<h2>Team @Model.Team.Display</h2>

<table aria-label="Overall Results for Team @Model.Team.Display" class="table table-bordered table-sm text-center">
    <thead>
    <tr>
        <th scope="col">
            Age Grade
            <br class="d-inline d-sm-none"/>
            Points
        </th>
        <th scope="col">
            Most Runs
            <br class="d-inline d-sm-none"/>
            Points
        </th>
        <th scope="col">
            Total
            <br class="d-inline d-sm-none"/>
            Points
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            @Model.Overall?.Value.AgeGradePoints
        </td>
        <td>
            @Model.Overall?.Value.MostRunsPoints
        </td>
        <td>
            @Model.Overall?.Value.TotalPoints
            (<a href="/Overall/Team">@Model.Overall?.Rank.Display</a>)
        </td>
    </tr>
    </tbody>
</table>

<div class="row">
    @foreach (var (course, results) in Model.Courses.Where(r => r.Value != null))
    {
        <div class="col-12 col-lg-6">
            <div class="card-highlighted card mb-3">
                <div class="card-body no-activity-log">
	                @await Html.PartialAsync("CourseInfo", new CourseResultsViewModel { Course = course, Config = Model.Config })
	                <table aria-label="Team @Model.Team.Display @Model.Config.CourseLabel Results for @course.Name"
                           class="table table-bordered table-sm text-center mt-2 mb-0">
                        <thead>
                        <tr>
                            <th scope="col">
                                Average
                                <br class="d-inline d-sm-none"/>
                                Age Grade
                            </th>
                            <th scope="col">
                                Total
                                <br class="d-inline d-sm-none"/>
                                Runs
                            </th>
                            <th scope="col">
                                Team
                                <br class="d-inline d-sm-none"/>
                                Points
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
	                            @results.Value.AverageAgeGrade.Display (@(new Rank(results.Value.AgeGradePoints).Display))
                            </td>
                            <td>
	                            @results.Value.TotalRuns (@(new Rank(results.Value.MostRunsPoints).Display))
                            </td>
                            <td>
	                            @results.Value.TotalPoints
	                            (<a href="/Course/@course.ID/Team">@results.Rank.Display</a>)
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
				@if (Model.Config.Features.MultiAttempt)
				{
					<div class="card-footer">
						<a href="/Log/Index/@course.ID">@Model.Config.CourseLabel Activity Log</a>
					</div>
				}
            </div>
        </div>
    }
</div>