@using FLRC.Leaderboards.Core.Config
@using FLRC.Leaderboards.Model
@model Course

@functions
{
	static string Icon(string type)
	{
		return type switch
		{
			RaceLink.Types.Info => "fas fa-info-circle",
			RaceLink.Types.Community => "fas fa-comments",
			_ => null
		};
	}
}

<div class="float-sm-right mb-1 d-flex justify-content-between">
	@foreach (var link in Model.Race.Links)
	{
		<a class="course-@link.Type.ToLowerInvariant() btn btn-sm btn-outline-dark ml-2" href="@link.URL">
			<i aria-hidden="true" class="@Icon(link.Type)"></i>
			@link.Name
		</a>
	}
	@if (true)
	{
		<a class="activity-log btn btn-sm btn-outline-dark ml-2" href="/Log/Index/@Model.ID">
			<i aria-hidden="true" class="fas fa-file-lines"></i>
			Activity Log
		</a>
	}
</div>
<h4 class="mb-0">
	@Model.Race.Name
</h4>
@if (true)
{
	<div class="mb-2">
		<span class="badge badge-pill badge-secondary">@Model.Race.Type</span>
		<span class="badge badge-pill badge-warning">@Model.DistanceDisplay</span>
	</div>
}