@using FLRC.ChallengeDashboard
@model DashboardResultsTable

<div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <table class="table table-bordered table-striped table-sm">
        <thead>
        <tr>
            <th colspan="3">
                <span class="d-flex justify-content-between">
                    <span>@Model.Title</span>
                    <a href="@Model.Link">View All</a>
                </span>
            </th>
        </tr>
        </thead>
        <tbody>
        @if (!Model.Rows.Any())
        {
            <tr>
                <td colspan="3" class="text-center text-danger">(no results yet)</td>
            </tr>
        }
        @for (var x = 1; x <= Model.Rows.Count(); x++)
        {
            var result = Model.Rows.Skip(x - 1).First();

            <tr>
                <td class="text-center">@x</td>
                <td>@result.Name</td>
                <td class="text-center">@result.Value</td>
            </tr>
        }
        </tbody>
    </table>
</div>