@using FLRC.Leaderboards.Core.Reports
@model InvalidViewModel

<h2>@Model.Title</h2>

<div class="card card-highlighted">
    <div class="card-body">
        @if (!Model.Results.Any()) {
            <div class="alert alert-success">No invalid results found!</div>
        }
        @foreach (var (course, results) in Model.Results)
        {
            <h3>@course.Race.Name</h3>
            <table aria-label="Invalid Results for @course.Race.Name"
                   class="table table-bordered table-striped table-hover table-sm table-responsive-@Model.ResponsiveBreakpoint">
                <thead>
                    <tr>
                        <th scope="col">Athlete</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var result in results)
                    {
                        <tr>
                            <td>@result.Athlete.Name</td>
                            <td>@result.StartTime.Display</td>
                            <td>@result.Duration.Display</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>