@using System.Text.Json
@using FLRC.Leaderboards.Core.Races
@using FLRC.Leaderboards.Web.ViewModels
@model ViewModel<Completed>

<h2 id="table-header">@Model.Title</h2>

<article class="card card-highlighted">
	<section class="card-body">
		<div class="btn-group mb-3">
			<a href="/Completed" class="btn btn-secondary">Completed</a>
			<a href="/Completed/Progress" class="btn btn-light">In Progress</a>
		</div>

		<script>
            const fields = [
                { name: 'Rank', center: true, value: r => r.Rank.Value },
                { name: 'Name', value: r => r.Result.Athlete.Name, link: r => `/Athlete/Index/${r.Result.Athlete.ID}` },
                { name: 'Age', center: true, value: r => r.Result.Athlete.AgeToday || '' },
                { name: 'Category', center: true, value: r => r.Result.Athlete.Category, sort: r => r.Result.Athlete.Category ?? 'X' },
                { name: 'Completed On', center: true, value: r => r.Value.Display, sort: r => r.Value.Value },
            ];

            const rows = @Html.Raw(JsonSerializer.Serialize(Model.Data.Results));
        </script>

		@await Html.PartialAsync("DataTable", (Model.Title, "lg"))

		@if (Model.Data.PersonalResults.Any())
		{
			<h3>Personal Challenges</h3>
			<table aria-labelledby="table-header" class="table table-bordered table-striped table-hover table-sm table-responsive-sm">
				<thead>
				<tr>
					<th>Name</th>
					<th class="text-center">Age</th>
					<th class="text-center">Category</th>
					<th class="text-center">Courses</th>
					<th class="text-center">Miles</th>
					<th class="text-center">Date Completed</th>
				</tr>
				</thead>
				<tbody>
				@foreach (var row in Model.Data.PersonalResults)
				{
					var challenge = row.Result.Athlete.Challenge(Model.Data.Iteration)!;
					<tr>
						<td>
							<a href="/Athlete/Index/@row.Result.Athlete.ID">
								@row.Result.Athlete.Name
							</a>
						</td>
						<td class="text-center">@row.Result.Athlete.AgeAsOf(row.Value.Value)</td>
						<td class="text-center">@row.Result.Athlete.Category</td>
						<td class="text-center">@challenge.Courses.Count</td>
						<td class="text-center">@challenge.Courses.Sum(c => new Distance(c.DistanceDisplay).Miles)</td>
						<td class="text-center">@row.Value.Display</td>
					</tr>
				}
				</tbody>
			</table>
		}
	</section>
</article>