@using FLRC.Leaderboards.Core.Athletes
@using FLRC.Leaderboards.Core.Results
@model AthleteSummaryViewModel

@await Html.PartialAsync("AthleteHeader", Model.Header)

<div class="card card-highlighted mb-3">
	<div class="card-body">
		@if (Model.Config.FileSystemResults is null)
		{
			@await Html.PartialAsync("Overall-" + (Model.Config.Features.MultiAttemptCompetitions ? "MultiAttempt" : "Competitions"), Model)
		}
		<div class="text-center">
			<a href="/Athlete/Log/@Model.Summary.Athlete.ID" class="btn btn-xs btn-light">
				Activity Log
				<i aria-hidden="true" class="fas fa-arrow-alt-circle-right"></i>
			</a>
			@if (Model.Config.Features.MultiAttemptCompetitions && !Model.Summary.Athlete.Private)
			{
				<a href="/Athlete/Similar/@Model.Summary.Athlete.ID" class="btn btn-xs btn-light">
					Similar Athletes
					<i aria-hidden="true" class="fas fa-arrow-alt-circle-right"></i>
				</a>
			}
		</div>
	</div>
</div>

<div class="row">
	@foreach (var (course, _) in Model.Summary.All.Where(r => r.Value != null && r.Value.Any()))
	{
		<div class="col-12 col-lg-6">
			<div class="card-highlighted card mb-3">
				<div class="card-body no-activity-log">
					@await Html.PartialAsync("CourseInfo", new CourseResultsViewModel { Course = course, Config = Model.Config })
					@if (!Model.Summary.Athlete.Private && Model.Summary.Fastest[course] == null && Model.Summary.Farthest[course] == null)
					{
						<div class="alert alert-danger">
							There is an invalid result for this @Model.Config.CourseLabel.
							Please check the the <a href="/Invalid">Invalid Results</a> page,
							and correct any errors by using the timing app or contacting the Race Director.
						</div>
					}
					else
					{
						<dl class="row mb-0 mt-3">
							@if (!Model.Summary.Athlete.Private)
							{
								var defaultView = course.IsFieldEvent ? "Farthest" : "Fastest";
								var fastest = Model.Summary.Fastest[course];
								var farthest = Model.Summary.Farthest[course];
								var value = course.IsFieldEvent ? farthest.Value?.Display : fastest.Value?.Display;
								var rank = course.IsFieldEvent ? farthest.Rank?.Display : fastest.Rank?.Display;
								var points = course.IsFieldEvent ? farthest.Points?.Display : fastest.Points?.Display;
								var ageGrade = course.IsFieldEvent ? farthest.AgeGrade?.Display : fastest.AgeGrade?.Display;
								<dt class="col-6">
									@(Model.Config.Features.MultiAttempt ? defaultView : string.Empty) @(course.EventMetric)
								</dt>
								<dd class="col-6">
									@value
									(<a href="/Course/@course.ID/@course.ShortName/@defaultView/@Model.Summary.Athlete.Category?.Value">@rank</a>)
								</dd>
								<dt class="col-6">
									Points
								</dt>
								<dd class="col-6">
									@points
								</dd>
								<dt class="col-6">
									Age Grade
								</dt>
								<dd class="col-6">
									@ageGrade
								</dd>
							}

							@if (Model.Config.Features.MultiAttemptCompetitions)
							{
								@if (!Model.Summary.Athlete.Private)
								{
									<dt class="col-6">
										Average (Top @course.AverageThreshold(new Filter(Model.Summary.Athlete.Category)))
									</dt>
									<dd class="col-6">
										@if (Model.Summary.Average[course] != null)
										{
											@Model.Summary.Average[course].Value?.Display
											@:(<a href="/Course/@course.ID/@course.ShortName/BestAverage/@Model.Summary.Athlete.Category?.Value">@Model.Summary.Average[course].Rank.Display</a>)
										}
										else
										{
											@:(not enough runs)
										}
									</dd>
								}
								<dt class="col-6">
									# of Runs
								</dt>
								<dd class="col-6">
									@Model.Summary.Runs[course].Value
									(<a href="/Course/@course.ID/MostRuns">@Model.Summary.Runs[course].Rank.Display</a>)
								</dd>
							}
							@if (Model.Config.Features.CommunityStars)
							{
								<dt class="col-6">
									Community Stars
								</dt>
								<dd class="col-6">
									@(Model.Summary.CommunityStars[course]?.Value.Display ?? "0")
								</dd>
							}
						</dl>
					}
				</div>
				@if (Model.Config.Features.MultiAttempt)
				{
					<div class="card-footer">
						<a href="/Athlete/@Model.Summary.Athlete.ID/Course/@course.ID">View All Efforts</a>
					</div>
				}
			</div>
		</div>
	}
</div>