@using FLRC.Leaderboards.Core.Athletes
@using FLRC.Leaderboards.Core.Metrics
@using FLRC.Leaderboards.Core.Ranking
@using FLRC.Leaderboards.Model
@using FLRC.Leaderboards.Web
@using FLRC.Leaderboards.Web.ViewModels
@model ViewModel<FLRC.Leaderboards.Web.ViewModels.AthleteSummary>

@await Component.InvokeAsync("AthleteHeader", Model.Data.Athlete.ID)

<div class="card card-highlighted mb-3">
	<div class="card-body">
		@if (true)
		{
			@await Html.PartialAsync("Overall-" + (true ? "MultiAttempt" : "Competitions"), Model.Data)
		}
		<div class="text-center">
			<a href="/Athlete/Log/@Model.Data.Athlete.ID" class="btn btn-xs btn-light">
				Activity Log
				<i aria-hidden="true" class="fas fa-arrow-alt-circle-right"></i>
			</a>
			@if (true && !Model.Data.Athlete.IsPrivate)
			{
				<a href="/Athlete/Similar/@Model.Data.Athlete.ID" class="btn btn-xs btn-light">
					Similar Athletes
					<i aria-hidden="true" class="fas fa-arrow-alt-circle-right"></i>
				</a>
			}
		</div>
	</div>
</div>

<div class="row">
	@foreach (var (course, _) in Model.Data.All.Where(r => r.Value != null && r.Value.Any()))
	{
		<div class="col-12 col-lg-6">
			<div class="card-highlighted card mb-3">
				<div class="card-body no-activity-log">
					@await Html.PartialAsync("CourseInfo", course)

					<dl class="row mb-0 mt-3">
						@if (!Model.Data.Athlete.IsPrivate)
						{
							var defaultView = course.Race.IsFieldEvent ? "Farthest" : "Fastest";
							var fastest = Model.Data.Fastest[course];
							var farthest = new Ranked<Performance, Result>();
							var value = course.Race.IsFieldEvent ? farthest.Value?.Display : fastest.Value?.Display;
							var rank = course.Race.IsFieldEvent ? farthest.Rank?.Display : fastest.Rank?.Display;
							var points = course.Race.IsFieldEvent ? farthest.Points?.Display : fastest.Points?.Display;
							var ageGrade = course.Race.IsFieldEvent ? farthest.AgeGrade?.Display : fastest.AgeGrade?.Display;

							<dt class="col-6">
								@(true ? defaultView : string.Empty) @(course.Race.EventMetric)
							</dt>
							<dd class="col-6">
								@value
								(<a href="/Results/Fastest/@course.ID?c=@Model.Data.Athlete.Category">@rank</a>)
							</dd>
							<dt class="col-6">
								Points
							</dt>
							<dd class="col-6">
								@points
							</dd>
							<dt class="col-6">
								Age Grade
							</dt>
							<dd class="col-6">
								@ageGrade
							</dd>
						}

						@if (true)
						{
							@if (!Model.Data.Athlete.IsPrivate)
							{
								<dt class="col-6">
									Average (Top @course.Results.AverageThreshold(new Filter(Category.Parse(Model.Data.Athlete.Category.ToString()))))
								</dt>
								<dd class="col-6">
									@if (Model.Data.Average[course] != null)
									{
										@Model.Data.Average[course].Value?.Display
										@:(<a href="/Results/BestAverage/@course.ID?c=@Model.Data.Athlete.Category">@Model.Data.Average[course].Rank.Display</a>)
									}
									else
									{
										@:(not enough runs)
									}
								</dd>
							}

							<dt class="col-6">
								# of Runs
							</dt>
							<dd class="col-6">
								@Model.Data.Runs[course].Value
								(<a href="/Course/@course.ID/MostRuns">@Model.Data.Runs[course].Rank.Display</a>)
							</dd>
						}
						@if (false)
						{
							<dt class="col-6">
								Community Stars
							</dt>
							<dd class="col-6">
								@(Model.Data.CommunityStars[course]?.Value.Display ?? "0")
							</dd>
						}
					</dl>
				</div>
				@if (true)
				{
					<div class="card-footer">
						<a href="/Athlete/@Model.Data.Athlete.ID/Course/@course.ID">View All Efforts</a>
					</div>
				}
			</div>
		</div>
	}
</div>