@using FLRC.Leaderboards.Web
@using FLRC.Leaderboards.Web.ViewModels
@model AthleteSummary

<dl class="row mb-0">
	<dt class="col-6">
		Team
	</dt>
	<dd class="col-6">
		@Model.Athlete.Team(Model.Iteration).Display
		(<a href="/Overall/Team">@Model.TeamResults?.Rank.Display</a>)
	</dd>

	@if (Model.Athlete.Category != null && !Model.Athlete.IsPrivate)
	{
		<dt class="col-6">
			Overall Points
		</dt>
		<dd class="col-6">
			@Model.OverallPoints?.Value?.Display
			(<a href="/Overall/Points/@Model.Athlete.Category">@Model.OverallPoints?.Rank?.Display</a>)
		</dd>
	}

	@if (!Model.Athlete.IsPrivate)
	{
		<dt class="col-6">
			<span class="d-none d-sm-inline">Average</span>
			<span class="d-sm-none">Avg</span>
			Age Grade
		</dt>
		<dd class="col-6">
			@Model.OverallAgeGrade?.Value?.Display
			(<a href="/Overall/AgeGrade">@Model.OverallAgeGrade?.Rank?.Display</a>)
		</dd>
	}

	<dt class="col-6">
		Total Miles
	</dt>
	<dd class="col-6">
		@Model.OverallMiles?.Value?.Display
		(<a href="/Overall/Miles">@Model.OverallMiles?.Rank?.Display</a>)
	</dd>

	@if (false)
	{
		<dt class="col-6">
			Community Stars
		</dt>
		<dd class="col-6">
			@Model.OverallCommunityStars?.Value?.Display
			(<a href="/Overall/Community">@Model.OverallCommunityStars?.Rank?.Display</a>)
		</dd>
	}
</dl>